[tool.poetry]
name = "usgs-iv"
description = "USGS Instantaneous Values Bridge"
authors = ["Clemens Vasters"]
readme = "README.md"
version = "0.1.0"  # Placeholder version, dynamic versioning can be handled with plugins

[tool.poetry.dependencies]
python = "<4.0,>=3.10"
confluent-kafka = ">=2.5.3"
cloudevents = ">=1.11.0"
gtfs-realtime-bindings = ">=1.0.0"
requests = ">=2.32.3"
aiohttp = ">=3.10.5"
asyncio = ">=3.4.3"
avro = "^1.12.1"
dataclasses-json = "^0.6.7"

[tool.poetry.dev-dependencies]
pytest = ">=8.3.3"
flake8 = ">=7.1.1"
pylint = ">=3.2.7"
mypy = ">=1.11.2"
testcontainers = ">=4.8.1"
pytest-asyncio = ">=0.24.0"
pytest-cov = "^7.0.0"
requests-mock = "^1.12.1"

[tool.poetry.scripts]
usgs-iv = "usgs_iv.usgs_iv:main"

[build-system]
requires = ["poetry-core>=1.9.0"]
build-backend = "poetry.core.masonry.api"