[build-system]
requires = ["poetry-core>=1.1.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "noaa"
version = "0.1.0"
description = "A project to fetch data from NOAA API"
authors = ["Clemens Vasters <clemensv@microsoft.com>"]

[tool.poetry.dependencies]

python = ">=3.10,<4.0"
requests = ">=2.32.3"
confluent-kafka = ">=2.5.3"
cloudevents = ">=1.11.0"
dataclasses_json = ">=0.6.7"


[tool.poetry.dev-dependencies]
pytest = ">=8.3.2"
pytest-cov = ">=5.0.0"
testcontainers = ">=4.8.1"
requests-mock = ">=1.12.1"

[tool.poetry.scripts]
noaa = "noaa:main"
